{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>clue 1</title>
</head>
<body>
    <img src="../static/c2.jpg" class="pic">
    <!-- download the image, and go to /finalStep --> 
</body>
</html>

{% endblock %}
