<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Step</title>
</head>
<body>
    
    <label for="name">What's the password?:</label>
    <input type="text" id="passw" name="passw" ><br><br>
    <button onclick="func()" >Submit</button>
    <script>
        function func()
        {
            var pass = document.getElementById("passw").value;
            var submitUrl = "/submitPassword/";
            submitUrl = submitUrl.concat(pass);
            window.location.href = submitUrl;       
        }
    </script>
    {% if flag == 1 %}
    <script>
            var name = prompt("congrats! you finished!\nnow enter your group name");
            var new_url = "/submitGroupName/";
            new_url = new_url.concat(name);
            window.location.href = new_url;
    </script>
    {% endif %}
</body>
</html>