{% extends 'base.html' %}

{% block head %}
    <title>Home Page</title>
{% endblock %}

{% block body %}
<div class="content">
    <!-- for the first clue, go to /clue --> 
    <body>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <script src="{{ url_for('static', filename='scripts.js')}}"></script>
        <script>
        
                var timerVar = window.setInterval(function(){
                    location.reload();
                }, 5000);
        </script>
    
    {% if name!="" and checkingString=="1" %}
        <h1 id="TheTitle">
            {{ name }} FINISHED FIRST! NICE!
        </h1>
    {% elif checkingString!=""%}
        <h1 id="TheTitle">
            A few people succeeded! Nice!
        </h1>
    {% else %}
    <h1 id="TheTitle">
        TRY AND STOP ME
    </h1>
    <p id="demo"></p>
    
    <script>
        var countDownDate = new Date("Sep 13, 2021 20:24:00").getTime();
        var x = setInterval(function() {
        var now = new Date().getTime();
        var distance = countDownDate - now;

        
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("demo").innerHTML = hours + "h "
        + minutes + "m " + seconds + "s ";

        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "YOU FAILED!! too bad lol";
            document.getElementById("theTitle").innerHTML = "";
        }
        }, 1000);
        </script>
    {% endif %}
    
        
        
        
    </body>
</div>
   
{% endblock %}