*{
    background-color:black;
}

h1
{
    color:cornsilk;
    font-family: sans-serif;
    text-align: center;
    font-size: 70px;
}

p
{
    color:cornsilk;
    font-size: 60px;
    text-align: center;
}


.container p
{
    display: inline;
    position: relative;
}
.pic
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input
{
    color: #ffffff;
    size:4
}

label
{
    color: #ffffff;
    font-size:50
}

.button
{
    color: #ffffff;    
}